# Some common failous extensions
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Some strange dirs
pids
logs
results

# And nodejs output rubbish
npm-debug.log
node_modules

# Vkgrab grabbed things
backups
data

# Config files
config.json
config.json~
